h1 {
  color: #f64d27 !important;
}
h2, h3, strong, b {
  /*color: #2a76dd !important;*/
  color: #3182bd !important;
}

body, .deck-container {
  background-color: #eae9e1 !important;
}

img {
  border: none !important;
}

.fragment.fade-up:not(.visible) {
  display: none !important;
}

.fragment.fade-out.visible {
  display: none !important;
}